@import "./theme.scss";
@import "bootstrap/scss/bootstrap";

// css reset

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  font-family: $font-family, serif;
  color: $secondary;
}

p,
ul {
  margin: 0;
}

input[type="checkbox"] {
  accent-color: $primary;
  height: 1rem;
  width: 1rem;
}

// custom class

.max-w-xs {
  max-width: 320px;
}

.max-w-sm {
  max-width: 384px;
}

.max-w-md {
  max-width: 448px;
}

.max-w-lg {
  max-width: 512px;
}

.max-w-xl {
  max-width: 576px;
}

.max-w-2xl {
  max-width: 672px;
}

.max-w-3xl {
  max-width: 768px;
}

.max-w-4xl {
  max-width: 896px;
}

.max-w-5xl {
  max-width: 1024px;
}

.max-w-6xl {
  max-width: 1152px;
}

.max-w-7xl {
  max-width: 1280px;
}

.outline-none {
  outline: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.separator::after,
.separator::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: $secondary;
}

.max-w-max {
  max-width: max-content;
}

.bg-white-15 {
  background-color: $white15;
}

.badge-pill {
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
}
