@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

$font-family: "Outfit";

$primary: #329932;
$primary-bg-subtle: #f1fff1;
$black: #18171b;
$secondary: #666666;
$secondary-subtle: rgba(102, 102, 102, 0.25);
$danger: #ff7575;
$dark: #323232;
$white15: rgba(255, 255, 255, 0.15);

$transition-smooth: 200ms ease;
