@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

$font-family: "Outfit";

$primary: #0177fb;
$black: #18171b;
$secondary: #666666;
$secondary-subtle: rgba(102, 102, 102, 0.25);
$danger: #ff7575;
$dark: #323232;

$transition-smooth: 200ms ease;
